<div class="container mt-4">
    <div class="card text-white bg-success mb-3">
      <div class="card-header">
        <h1>{{ pageTitle }}</h1>
      </div>
      <div class="card-body">
        <h4 class="card-title">Hello, {{ userName }}!</h4>
        <p class="card-text">{{ description }}</p>
  
        <hr class="bg-light">
  
        <h5>Featured Topics:</h5>
        <ul class="list-group mb-3">
          <li *ngFor="let topic of topics" class="list-group-item list-group-item-success">
            {{ topic }}
          </li>
        </ul>
  
        <h5>Tools Used:</h5>
        <ul class="list-group">
          <li *ngFor="let tool of tools" class="list-group-item list-group-item-success">
            {{ tool }}
          </li>
        </ul>
  
        <!-- Working Say Hello Button -->
        <button class="btn btn-light mt-3" (click)="sayHello()">Say Hello</button>
        <p class="mt-2 text-white">{{ greetingMessage }}</p>
      </div>
    </div>
  </div>